/* chung chung */

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;1,700&display=swap');

:root {
    --section-padding: 50px 0;
    --red:#ef3634;
    --grey: #dcdcdc;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.8;
    color: black;
    height: 10000px;
}

a {
    text-decoration: none;
}

img {
    vertical-align: middle; /*tắt khoảng trắng dưới ảnh*/
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 800;
}

strong, b, th {
    font-weight: 600;
}

/*cấu trúc*/

.container {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.flex {
    display: flex;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.justify-start {
    justify-content: start;
}

.justify-end {
    justify-content: end;
}

.align-sretch {
    align-items: flex-start;
}

.align-end {
    align-items: flex-end;
}

.align-center {
    align-items: center;
}

.wrap {
    flex-wrap: wrap;
}

.nowrap {
    flex-wrap: nowrap;
}

.col-1 {
    flex-basis: 8.33%;
}

.col-2 {
    flex-basis: 16.67%;
}

.col-3 {
    flex-basis: 25%;
}

.col-4 {
    flex-basis: 33.33%;
}

.col-5 {
    flex-basis: 46.67%;
}

.col-6 {
    flex-basis: 50%;
}

.col-7 {
    flex-basis: 58.33%;
}

.col-8 {
    flex-basis: 66.67%;
}

.col-9 {
    flex-basis: 75%;
}

.col-10 {
    flex-basis: 83.33%;
}

.col-11 {
    flex-basis: 91.66%;
}

.col-12 {
    flex-basis: 100%;
}

/* Filter */
.filter-container {
    position: sticky;
    top: 0;
    left: 0;
}

.filter {
    list-style: none;
}

.filter-link {
    text-transform: uppercase;
    color: inherit;
    display: inline-block;
    border-bottom: 2px solid var(--grey);
    text-align: center;
    transition: all 0.3s;
}

.filter-link:active, .filter-link:hover {
    color: var(--red);
    font-weight: 600;
    border-bottom: 2px solid var(--red);
}

/* Type */
.type {
    list-style: none;
}

.type-item {
    width: 100px;
}

.type-link.active, .type-link:hover {
    background-color: var(--red);
}

.type-link {
    display: block;
    background-color: var(--grey);
    color: #fff;
    text-align: center;
    font-size: 14px;
    padding: 5px;
    transition: all 0.3s;
}

.recipe {
    font-size: 14px;
    text-align: center;
}

.recipe span {
    font
}

/* Product */
.product-list
