.container {
    margin:0 auto; 
    width:660px;
    vertical-align: baseline 
 }

.topnav {
    margin:0 auto; 
    width:980px;
    position: relative; 
}

.logo {
    display: inline-block;
    vertical-align: top;
    width: 150px;
}

h1 {
    font-size: 22px;
}

body {
    line-height: 20px;
    background-color: #fff;
    font: 400 14px NotoSans, sans-serif;
    color: #5d5d5d;
}
a {
    text-decoration: none;
}

.trend {
    position: relative;
    color: #971927;
    text-transform: uppercase;
    top: 19px;
    left: 105px;
    width: 60px;
    height: 30px;
    font-size: 11px;
    font-weight: bold;
    border: 1px solid #971927;
    border-radius: 11px;
    padding: 5px;
    margin-right: 10px;
}

.search-bar {
    position: absolute;
    background-color: #FFF;
    border: 1px solid #a3a3a3;
    width: 144px;
    line-height: 25px;
    top: 15px;
    left: 500px;
    display: block;
}

#searhbox {
    border: none;
    width: 112px;
    font-size: 11px;
    color: #888;
    height: 23px;
    padding-left: 5px;
}

.search-button {
    background: url(image/icon-search.svg) 0px 0px no-repeat rgba(0, 0, 0, 0);
    width: 15px;
    height: 16px;
    padding-left: 5px;
    background-size: 15px 15px;
}

.trend:hover {
    background-color: #971927;
    color: white;
}

.hot, .recent {
    text-decoration: none;
    width: 60px;
    height: 60px;
    padding: 5px;
    color: white;
}

.hot:hover, .recent:hover {
    color: rgba(156, 148, 148, 0.5);
}

.hot {
    background-color: #006599;
}

.recent {
    background-color: #971927;
}

.ArticleContent {
    line-height: 24px;
    padding: 5px 0px;
    color: #333;
}

.ArticleDate {
    line-height: 20px;
    font-size: 10px;
    color: #565656;
}

.trump {
    color:  #971928;
}

.trump:hover {
    text-decoration: underline;
}

figcaption {
    text-align: center;
}

.RelatedNewsCaption {
    text-transform: uppercase;
    color: #971928;
    float: left;
    background: #fff;
    padding-right: 7px;
    font-family: "Roboto-Bold";
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.greyline {
    display: block;
    border-bottom: 1px solid #d5d5d5;
}

.RelatedNewsContent {
        padding: 0px 10px 0px 0px;
        background-color: #ebeff7;
        clear: both;
        min-height: 101px;
        margin: 10px auto;
}
.RelatedNewsTitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 0px;
    padding-top: 5px;
}

.RelatedNewsTitle {
    text-emphasis: underline;
    color:  #971928;
}

.summary {
    margin: 0px;
    font-size: 13px;
    line-height: 20px;
    padding: 0px;
}

.RelatedNewsImage {
    float: left;
    padding-right: 20px;
}

h4 {
    display: block;
    padding-top: 20px;
}
